.chat-container {
  display: flex;
  background: #222e35;
  border-radius: 2px;
  padding: 1.5rem;
  height: 90vh;
  width: 1300px;
  text-align: left;
  color: white;
  z-index: 3;
}

.current-chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 1rem;
  min-height: 0;
  overflow: hidden;
}
