.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.overlay.open {
  transform: translateX(0);
}

.new-chat {
  background: #111b21;
  margin-top: 3rem;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.send {
  font-weight: 600;
  background: #4ba586;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
}

.send:hover {
  background: #5eac91;
}

.cancel {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
}

.cancel:hover {
  background: #f76060;
}
